h1 {
    font-family: "Montserrat", sans-serif;
    font-size:40px;
    text-align: center;
    color:rgb(65, 65, 65);
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-size:30px;
    text-align: center;
    color:rgb(65, 65, 65);
}

.regular-text{
    font-family: "Lato", sans-serif;
    font-size:18px;
    color:rgb(65, 65, 65);
    text-align:center;
}
.comment-text{
    font-family: "Lato", sans-serif;
    font-size:18px;
    color:gray;
    text-align:center;
}
.index-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
img{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:70%;
}
ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size:18px;
    color:gray;
    font-family:"Lato",sans-serif;
}
ol {
    display:table;
    margin-left:20%;
    margin-right:18%;
    font-size:18px;
    color:gray;
    font-family:"Lato",sans-serif;
}